{% extends "default/base.j2" %}

{% block style %}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/biojupies.css') }}" />
{% endblock %}

{% block body %}
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
<script>
  require.config({
    paths: {
      'bootstrap': 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min',
    },
    shim: {
      'bootstrap': ['jquery'],
    }
  })
</script>
{% endblock %}
