{% extends "default/base.j2" %}

{% block style %}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://amp.pharm.mssm.edu/biojupies/app/static/css/style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/github.min.css" />
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
{% endblock %}

{% block body %}
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
<script>
  require.config({
    paths: {
      'bootstrap': 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min',
    },
    shim: {
      'bootstrap': ['jquery'],
    }
  })
</script>
{% endblock %}
