{% extends "default/form.j2" %}

{% block body %}
<div class="container">
  <form method="POST" enctype="multipart/form-data" action="./{{ _session }}/">
    {% with orphaned_fields = jq(_fields, '.[].args.name', '.[] | select(.type != "section" and .args.section == null)') %}
      {% if orphaned_fields %}
        {{ SectionField(
          name="_primary",
          section=null,
          title="Customize Your Notebook",
          subtitle="Customize your notebook",
        ).render(_fields=orphaned_fields) }}
      {% endif %}
    {% endwith %}
    {% for _field in jq(_fields, '.[].args.name', '.[] | select(.type == "section")') %}
      {{ _field.render(
        _fields=jq(
          _fields,
          '.[].args.name',
          fmt('.[] | select(.args.section == "{}")', _field.args.name)
        )
      ) }}
    {% endfor %}
    <div class="row">
      <input name="_session" type="text" style="display: none;" value="{{ _session }}" />
      <div class="col-sm-12">
        &nbsp;
      </div>
      <div class="col-sm-12 text-center">
        <input
          class="btn navigate white border-custom bg-blue nodecoration"
          type="submit"
          value="Submit"
        />
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
require(['jquery', 'bootstrap'], function ($) {
  $(document).ready(function () {
    $('.collapse').collapse({ toggle: false })
    $('[data-toggle="tooltip"]').tooltip()
  })
})
</script>
{% endblock %}
