include README.md LICENSE appyter/VERSION requirements.txt requirements.production.txt
recursive-exclude * __pycache__ *.pyc *.vscode
recursive-include appyter *.j2 *.js *.css *.eot *.svg *.ttf *.woff *.woff2