aiohttp
aiohttp_remotes
aiohttp-wsgi
bs4
click
click-default-group
flask
flask_cors
ipython
jinja2
jupyter
jupyter_client
lxml
nbclient==0.5.0
nbconvert==5.5.0
nbformat
python-dotenv
python-engineio==4.0.0
python-socketio==5.0.4
watchgod