aiohttp<3.8.0
aiohttp_remotes
aiohttp-wsgi
bs4
click
click-default-group
flask==2.0.1
flask_cors
fsspec==2021.7.0
fusepy
ipython
jinja2
jupyter_client
lxml
nbclient==0.5.0
nbconvert
nbformat==5.0.8
notebook
python-dotenv
python-engineio==4.0.0
python-socketio==5.0.4
watchgod