aiohttp
aiohttp-devtools
aiohttp-wsgi
bs4
click
click-default-group
flask
flask_cors
flask_socketio
ipython
jinja2
jq
jupyter
jupyter_client
lxml
nbclient
nbconvert
nbformat
python-dotenv
python-socketio