<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <title>Jupyter Template</title>
  {% endblock %}
  {% block style %}
  <style>
  .progress {
    height: 25px;
    width: 100%;
    background-color: grey;
  }
  .progress-bar {
    height: 100%;
    background-color: blue;
  }
  .progress-bar.bg-success {
    height: 100%;
    background-color: green;
  }
  </style>
  {% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js" integrity="sha256-Dul4c09cdrWKXVtallPxF558lwxMwCC8dXJdZ0PVW54=" crossorigin="anonymous"></script>
    <script>
      var socket = io({ path: '{{ prefix }}socket.io' })
      var first_connect = true
      socket.on('connect', function() {
        if (first_connect === true) {
          console.debug('connected')
          socket.emit('session', { _session: '{{ _session }}' })
          first_connect = false
        } else {
          window.location.reload()
        }
      })
    </script>
  {% endblock %}
</body>
</html>