<div class="ipynb-field">
    <div class="form-group">
        <p>{{ this.args.description }}</p>
        <label for="{{ this.args.name }}">
            {{ this.args.label }}
        </label>
        <textarea placeholder="{{ this.args.hint }}" name="{{ this.args.name }}" class="form-control">
            {{ this.args.default }}
        </textarea>
    </div>
</div>