<div class="ipynb-field">
  <div class="form-group">
    <p>{{ this.args.description }}</p>
    <label for="{{ this.args.name }}">
      {{ this.args.label }}
    </label>
    <textarea
      class="form-control"
      name="{{ this.args.name }}"
      placeholder="{{ this.args.hint }}"
      rows="{{ this.args.rows }}"
      cols="{{ this.args.cols }}"
    >{{ this.args.default }}</textarea>
  </div>
</div>