<div class="ipynb-field">
  <div class="form-group">
    {%- if this.args.description %}
      <p>{{ this.args.description }}</p>
    {% endif -%}
    <label for="{{ this.args.name }}">
      {{ this.args.label }}
    </label>
    <textarea placeholder="{{ this.args.hint }}" name="{{ this.args.name }}" class="form-control">
      {{ this.args.default }}
    </textarea>
  </div>
</div>