<div class="ipynb-field">
    <div class="form-group">
        <p>{{ this.args.description }}</p>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="{{ this.args.name }}" name="{{ this.args.name }}" >
            <label class="custom-file-label" for="{{ this.args.name }}">Choose file</label>
        </div>
    </div>
</div>