{% extends "default/base.j2" %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
<script>
  require.config({
    paths: {
      'bootstrap': 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min',
      'select2': 'https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min',
    },
    shim: {
      'bootstrap': ['jquery'],
      'select2': ['jquery'],
    }
  })
</script>
{% endblock %}
