{% extends "base.j2" %}

{% block body %}
<div id="status"></div>
<div id="nbviewer">{{ _nbviewer }}</div>
{% endblock %}

{% block script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
var socket = io()
socket.on('connect', function() {
  console.log('connect')
  socket.emit('init', {{ _data }})
})
socket.on('notebook', function(data) {
  console.log('notebook')
  console.log(data)
})
socket.on('progress', function (cell) {
  console.log('progress')
  console.log(cell)
})
socket.on('status', function(text) {
  console.log('status')
  console.log(text)
  document.getElementById("status").innerText = text
})
</script>
{% endblock %}
