<div class="ipynb-field">
    <div class="form-group">
        <p>{{ this.args.description }}</p>
        <label for="{{ this.args.name }}">
            {{ this.args.label }}
        </label>
        <input type="email" name="{{ this.args.name }}" class="form-control" placeholder="{{ this.args.hint }}" value="{{ this.args.default }}">
    </div>
</div>