{% extends "base.j2" %}

{% block style %}
{{ super() }}
<style>
.svelte-component.loading {
  display: none;
}
</style>
{% endblock %}

{% block body %}
{{ super() }}
<div class="container">
  <form method="POST" enctype="multipart/form-data" action="">
    {% for _field in _fields %}
      {{ _field.render() }}
    {% endfor %}
    <div class="row">
      <div class="col-sm-12">
        <input type="submit" value="Submit" />
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  require(['jquery'], function ($) {
    $(document).ready(function () {
      $('.svelte-component').each(function () {
        var self = this
        var props = JSON.parse(self.children[0].innerHTML)
        Object.assign(props, { window: window })
        self.children[0].remove()
        require([`{{ url_for('profile', path='js') + '/fields/${props.field}.js' }}`], function (Component) {
          var component = new Component({
            target: self,
            props: props,
          })
          self.classList.remove('loading')
        })
      })
    })
  })
</script>
{% endblock %}
