{% extends "static.j2" %}

{% block body %}
{% include "default/jupyter.j2" %}
<div id="_content" class="container loading"></div>
{% endblock %}
 
{% block script %}
{{ super() }}
<script type="text/javascript" charset="utf-8">
require(['{{ url_for('__main__.profile', path='js') + '/landing.js' }}'], function (Component) {
  var self = document.getElementById("_content")
  var component = new Component({
    target: self,
    props: {
      requirejs: require,
      nbdownload: {{ _nb|jsonify }},
    },
  })
  self.classList.remove('loading')
})
</script>
{% endblock %}
