{% extends "base.j2" %}

{% block body %}
{{ super() }}
<div class="row">
  <div class="col-sm-12">
    {% include "fragments/jupyter.j2" %}

    <div id="_content" class="svelte container loading">
      {% include "fragments/loader.j2" %}
      <script type="application/json">{{ dict(nbdownload=_nb, js_url=url_for('static', filename='js/landing.js'))|jsonify }}</script>
    </div>
  </div>
</div>
{% endblock %}
