{% extends "base.j2" %}

{% block body %}
{{ super() }}
<div class="row">
  <div class="col-sm-12 text-center">
    <a
      id="download-notebook"
      class="btn btn-primary"
      role="button"
      href="{{ _nb }}"
    >Download Notebook</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div id="nbviewer">{{ _nbviewer }}</div>
  </div>
</div>
{% endblock %}
